<div class="flex flex-col p-4 gap-4">
  <!--  Analog A4 -->
  <div class="flex flex-row gap-4 items-center">
    <div class="w-24">Analog A4</div>
    <mat-form-field class="w-36" appearance="outline">
      <mat-label>Gain (μs/volt)</mat-label>
      <input matInput type="number" value="0">
    </mat-form-field>
    <mat-form-field class="w-36" appearance="outline">
      <mat-label>Offset μs</mat-label>
      <input matInput type="number" value="0">
    </mat-form-field>
    <mat-form-field class="w-36" appearance="outline">
      <mat-label>Channel</mat-label>
      <mat-select>
        <mat-option [value]="-1">Disabled</mat-option>
        <mat-option *ngFor="let item of [].constructor(16); let i = index" [value]="i+1">Ch{{ i + 1 }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!--  Analog A5 -->
  <div class="flex flex-row gap-4 items-center">
    <div class="w-24">Analog A5</div>
    <mat-form-field class="w-36" appearance="outline">
      <mat-label>Gain (μs/volt)</mat-label>
      <input matInput type="number" value="0">
    </mat-form-field>
    <mat-form-field class="w-36" appearance="outline">
      <mat-label>Offset μs</mat-label>
      <input matInput type="number" value="0">
    </mat-form-field>
    <mat-form-field class="w-36" appearance="outline">
      <mat-label>Channel</mat-label>
      <mat-select>
        <mat-option [value]="-1">Disabled</mat-option>
        <mat-option *ngFor="let item of [].constructor(16); let i = index" [value]="i+1">Ch{{ i + 1 }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!--  Analog A6 -->
  <div class="flex flex-row gap-4 items-center">
    <div class="w-24">Analog A6</div>
    <mat-form-field class="w-36" appearance="outline">
      <mat-label>Gain (μs/volt)</mat-label>
      <input matInput type="number" value="0">
    </mat-form-field>
    <mat-form-field class="w-36" appearance="outline">
      <mat-label>Offset μs</mat-label>
      <input matInput type="number" value="0">
    </mat-form-field>
    <mat-form-field class="w-36" appearance="outline">
      <mat-label>Channel</mat-label>
      <mat-select>
        <mat-option [value]="-1">Disabled</mat-option>
        <mat-option *ngFor="let item of [].constructor(16); let i = index" [value]="i+1">Ch{{ i + 1 }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!--  Analog A7 -->
  <div class="flex flex-row gap-4 items-center">
    <div class="w-24">Analog A7</div>
    <mat-form-field class="w-36" appearance="outline">
      <mat-label>Gain (μs/volt)</mat-label>
      <input matInput type="number" value="0">
    </mat-form-field>
    <mat-form-field class="w-36" appearance="outline">
      <mat-label>Offset μs</mat-label>
      <input matInput type="number" value="0">
    </mat-form-field>
    <mat-form-field class="w-36" appearance="outline">
      <mat-label>Channel</mat-label>
      <mat-select>
        <mat-option [value]="-1">Disabled</mat-option>
        <mat-option *ngFor="let item of [].constructor(16); let i = index" [value]="i+1">Ch{{ i + 1 }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <hr>
  <!--  Aux function 1 -->
  <div class="flex flex-row gap-4 items-center">
    <div class="w-28">Aux function 1</div>
    <mat-form-field class="w-72" appearance="outline">
      <mat-label>Function</mat-label>
      <mat-select>
        <mat-option [value]="1">X Gyrometer +/- 1000deg/s</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-36" appearance="outline">
      <mat-label>Channel</mat-label>
      <mat-select>
        <mat-option [value]="-1">Disabled</mat-option>
        <mat-option *ngFor="let item of [].constructor(16); let i = index" [value]="i+1">Ch{{ i + 1 }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!--  Aux function 2 -->
  <div class="flex flex-row gap-4 items-center">
    <div class="w-28">Aux function 2</div>
    <mat-form-field class="w-72" appearance="outline">
      <mat-label>Function</mat-label>
      <mat-select>
        <mat-option [value]="1">X Gyrometer +/- 1000deg/s</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-36" appearance="outline">
      <mat-label>Channel</mat-label>
      <mat-select>
        <mat-option [value]="-1">Disabled</mat-option>
        <mat-option *ngFor="let item of [].constructor(16); let i = index" [value]="i+1">Ch{{ i + 1 }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!--  Aux function 3 -->
  <div class="flex flex-row gap-4 items-center">
    <div class="w-28">Aux function 3</div>
    <mat-form-field class="w-72" appearance="outline">
      <mat-label>Function</mat-label>
      <mat-select>
        <mat-option [value]="1">X Gyrometer +/- 1000deg/s</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-36" appearance="outline">
      <mat-label>Channel</mat-label>
      <mat-select>
        <mat-option [value]="-1">Disabled</mat-option>
        <mat-option *ngFor="let item of [].constructor(16); let i = index" [value]="i+1">Ch{{ i + 1 }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

