<div class="flex flex-col gap-4 p-4">

  <channel channel="1"  [value]="1500"/>
  <channel channel="2"  [value]="1500"/>
  <channel channel="3"  [value]="1500"/>
  <channel channel="4"  [value]="1500"/>
  <channel channel="5"  [value]="1500"/>
  <channel channel="6"  [value]="1500"/>
  <channel channel="7"  [value]="1500"/>
  <channel channel="8"  [value]="1500"/>
  <channel channel="9"  [value]="1500"/>
  <channel channel="10"  [value]="1500"/>
  <channel channel="11"  [value]="1500"/>
  <channel channel="12"  [value]="1500"/>
  <channel channel="13"  [value]="1500"/>
  <channel channel="14"  [value]="1500"/>
  <channel channel="15"  [value]="1500"/>
  <channel channel="16"  [value]="1500"/>
</div>

