<form [formGroup]="form" class="flex flex-col p-2 gap-2">
  <!--  Center button -->
  <div class="flex flex-row items-center gap-2">
    <div class="w-56">Center button</div>
    <div>
      @if (HTService.pins.has('CENTER_BTN')) {
        <div class="h-7 leading-7">
          <span class="font-bold">{{ HTService.pins.get('CENTER_BTN') }}</span>
        </div>
      } @else {
        <mat-form-field appearance="outline">
          <mat-select formControlName="buttonpin">
            <mat-option [value]="-1">Off</mat-option>
            <mat-option *ngFor="let item of [].constructor(11); let i = index" [value]="i+2">D{{ i + 2 }}</mat-option>
          </mat-select>
        </mat-form-field>
      }
    </div>
  </div>
  <!--  Send recenter on Channel-->
  <div class="flex flex-row items-center gap-2">
    <div class="w-56">Send Re-Center on Channel</div>
    <div>
      <mat-form-field appearance="outline">
        <mat-select formControlName="alertch">
          <mat-option [value]="-1">Off</mat-option>
          <mat-option *ngFor="let item of [].constructor(16); let i = index" [value]="i+1">Ch {{ i + 1 }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <!--  Select box options-->
  <div class="flex flex-row items-center gap-2">
    <div class="w-56">&nbsp;</div>
    <div class="flex flex-col">
      <mat-checkbox formControlName="butlngps">
        Enable Tilt/Roll/Pan after a long button press
      </mat-checkbox>
      <mat-checkbox formControlName="rstontlt">
        Center on Roll from Min to Max
      </mat-checkbox>
      <mat-checkbox formControlName="rstonwave">
        Center on Proximity Detect
      </mat-checkbox>
    </div>
  </div>
  <!--  Board rotation-->
  <div class="flex flex-row items-center gap-2">
    <div class="w-56">Board Rotation</div>
    <div class="flex row gap-6">
      <mat-form-field class="w-24" appearance="outline">
        <mat-label>Tilt (X)</mat-label>
        <input formControlName="rotx" matInput type="number" max="360" min="-360" step="1">
      </mat-form-field>
      <mat-form-field class="w-24" appearance="outline">
        <mat-label>Roll (Y)</mat-label>
        <input formControlName="roty" matInput type="number" max="360" min="-360" step="1">
      </mat-form-field>
      <mat-form-field class="w-24" appearance="outline">
        <mat-label>Pan (Z)</mat-label>
        <input formControlName="rotz" matInput type="number" max="360" min="-360" step="1">
      </mat-form-field>
    </div>
  </div>
  <div class="flex flex-row gap-2 items-center">
    @if (gyrocal()) {
      <div class="rounded-full bg-green-800 size-4"></div> Gyrometer Calibrated
    } @else {
      <div class="rounded-full bg-red-800 size-4"></div> Gyrometer Not Calibrated
    }
  </div>
</form>
