<form [formGroup]="form" class="flex flex-col p-2 gap-2">
  <div class="flex flex-row items-center gap-2">
    <div class="w-40">Mode</div>
    <mat-form-field appearance="outline" class="w-80">
      <mat-select formControlName="btmode">
        <mat-option [value]="0">Disabled</mat-option>
        <mat-option [value]="1">FrSky - Wireless Transmitter (Head)</mat-option>
        <mat-option [value]="2">FrSky - Wireless Receiver (Remote)</mat-option>
        <mat-option [value]="3">FrSky - Wireless Receiver - Scanner Mode</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  @switch (form.controls.btmode.value) {
    @case (1) {
    }
    @case (2) {
      <!--Remote connection-->
      <div class="flex flex-row items-center gap-2">
        <div class="w-40">Remote Connection</div>
        <div>
          <mat-form-field appearance="outline">
            <mat-select>
              <mat-option [value]="-1">Off</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    }
    @case (3) {
      <!--Remote connection-->
      <div class="flex flex-row items-center gap-2">
        <div class="w-40">Remote Connection</div>
        <div>
          <mat-form-field appearance="outline">
            <mat-select>
              <mat-option [value]="-1">Off</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    }
  }

  <!--Status-->
  <div class="flex flex-row items-center gap-2">
    <div class="w-40">Status</div>
    <div>
      @if (btcon()) {
        Connected
      } @else {
        Not Connected
      }

    </div>
  </div>
  <!--Aadress-->
  <div class="flex flex-row items-center gap-2">
    <div class="w-40">Aadress</div>
    <div>
      {{ btaddrchr() }}
    </div>
  </div>

  <div class="flex flex-col items-center p4 gap-2 text-sm text-center">
    <strong class="max-w-96">Bluetooth supports 8 channels</strong>
    <span class="max-w-96">Change the BT mode, Save Settings and Reboot for this to take effect</span>
    <span class="max-w-96">Any channels that are set higher than 8 won't be sent/received.</span>
    <span class="max-w-96">
      If set as receiver you will usually want to leave all channels set OFF allowing the remote bluetooth channels to pass through.
    </span>
  </div>
</form>
