<div class="flex flex-col p-4 gap-4">
  <div class="flex flex-row items-center gap-4">
    <div class="w-40">Mode</div>
    <mat-form-field appearance="outline" class="w-80">
      <mat-select>
        <mat-option [value]="null">Disabled</mat-option>
        <mat-option [value]="'head'">FrSky - Wireless Transmitter (Head)</mat-option>
        <mat-option [value]="'remote'">FrSky - Wireless Receiver (Remote)</mat-option>
        <mat-option [value]="'scanner'">FrSky - Wireless Receiver - Scanner Mode</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</div>
