<div class="shadow rounded-lg bg-white p-4">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0">
    <mat-tab label="Channel Outputs" #outputsTab>
      <app-outputs [active]="outputsTab.isActive"/>
    </mat-tab>
    <mat-tab label="PPM Inputs" #ppmTab>
      <app-ppm [active]="ppmTab.isActive"/>
    </mat-tab>
    <mat-tab label="UART Inputs" #uartTab>
      <app-uart [active]="uartTab.isActive"/>
    </mat-tab>
    <mat-tab label="Bluetooth Inputs" #btTab>
      <app-bluetooth [active]="btTab.isActive"/>
    </mat-tab>
  </mat-tab-group>
</div>
