<mat-sidenav-container autosize>
  <mat-sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="isMobile ? 'false' : 'true'">
    <div class="flex flex-row justify-around m-4">
      <div class="flex flex-col items-center text-white">
        Rx
        <div class="w-4 h-4 rounded-full bg-red-500 block"></div>
      </div>
      <div class="flex flex-col text-white">
        Tx
        <div class="w-4 h-4 rounded-full bg-red-500 block"></div>
      </div>
    </div>

    <div class="flex flex-col p-4 gap-4">
      <button mat-raised-button [routerLink]="['firmware']"> <mat-icon>grid_4x4</mat-icon> Firmware</button>
      <button mat-raised-button> <mat-icon>autorenew</mat-icon> Reboot</button>
      <button mat-raised-button> <mat-icon>biotech</mat-icon> Calibrate</button>
      <button mat-raised-button> <mat-icon>gps_fixed</mat-icon> Reset Center</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="bg-gray-100">
    <mat-toolbar
      class="shadow flex flex-row"
      color="primary">
      <button *ngIf="isMobile" mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1>HeadTracker</h1>
      <div class="ml-auto">
        <button mat-icon-button>
          <mat-icon class="text-green-700">link</mat-icon>
        </button>
        <button mat-icon-button disabled>
          <mat-icon class="text-red-400">link_off</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon class="text-green-700">bluetooth</mat-icon>
        </button>
        <button mat-icon-button disabled>
          <mat-icon class="text-red-400">bluetooth_disabled</mat-icon>
        </button>
      </div>
      <div *ngIf="connectionService.port">
          {{connectionService.port.getInfo().usbVendorId}}
      </div>
    </mat-toolbar>
    <div class="m-4 flex flex-col items-stretch">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
