<div class="flex flex-col gap-4 p-4">

  <channel channel="1" color="red" [value]="1500"/>
  <channel channel="2" color="red" [value]="1500"/>
  <channel channel="3" color="red" [value]="1500"/>
  <channel channel="4" color="red" [value]="1500"/>
  <channel channel="5" color="red" [value]="1500"/>
  <channel channel="6" color="red" [value]="1500"/>
  <channel channel="7" color="red" [value]="1500"/>
  <channel channel="8" color="red" [value]="1500"/>
  <channel channel="9" color="red" [value]="1500"/>
  <channel channel="10" color="red" [value]="1500"/>
  <channel channel="11" color="red" [value]="1500"/>
  <channel channel="12" color="red" [value]="1500"/>
  <channel channel="13" color="red" [value]="1500"/>
  <channel channel="14" color="red" [value]="1500"/>
  <channel channel="15" color="red" [value]="1500"/>
  <channel channel="16" color="red" [value]="1500"/>
</div>

