<div class="flex flex-col p-4 gap-4 items-start">
  <div class="truncate text-lg font-medium leading-6 tracking-tight mb-4">PWM Output Pins</div>
  <mat-form-field appearance="outline">
    <mat-label>A0</mat-label>
    <mat-select>
      <mat-option [value]="-1">Disabled</mat-option>
      <mat-option *ngFor="let item of [].constructor(16); let i = index" [value]="i+1">Ch{{ i + 1 }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>A1</mat-label>
    <mat-select>
      <mat-option [value]="-1">Disabled</mat-option>
      <mat-option *ngFor="let item of [].constructor(16); let i = index" [value]="i+1">Ch{{ i + 1 }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>A2</mat-label>
    <mat-select>
      <mat-option [value]="-1">Disabled</mat-option>
      <mat-option *ngFor="let item of [].constructor(16); let i = index" [value]="i+1">Ch{{ i + 1 }}</mat-option>

    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>A3</mat-label>
    <mat-select>
      <mat-option [value]="-1">Disabled</mat-option>
      <mat-option *ngFor="let item of [].constructor(16); let i = index" [value]="i+1">Ch{{ i + 1 }}</mat-option>

    </mat-select>
  </mat-form-field>
  <div>
    Output is 3.3V, some servos may not work with this voltage.
  </div>
</div>
