<div class="flex flex-col items-center gap-4">
  <div *ngIf="firmwareImage" class="shadow p-4 rounded-xl bg-white flex flex-col">
    <span class="text-lg font-medium leading-6 tracking-tight">Firmware: {{ filename }}</span>
    <span class="text-sm font-medium text-green-700">Size: {{fileSize}} bites</span>
    <button class="mt-4" mat-stroked-button >Flash firmware</button>
  </div>
  <button mat-flat-button (click)="selectDevice()"> Select device</button>
  <button mat-flat-button (click)="selectFirmware()"> Select firmware</button>
</div>

