<form [formGroup]="axisForm" class="flex flex-col">
  <div class="flex flex-row content-between gap-6">
    <span class="w-8">&nbsp;</span>
    <div class="w-16  text-center">Value</div>
    <div class="w-2/12 text-center">Gain</div>
    <div class="w-4/12 text-center">Range</div>
    <div class="w-16 text-center -ml-8 ">&nbsp;</div>
    <div class="w-32 text-center">Channel</div>
    <div class="w-16 text-center">Reverse</div>
  </div>
  <!-- TILT -->
  <div class="flex flex-row items-center gap-6">
    <div class="w-8 text-right">Tilt</div>
    <!-- IMU value -->
    <div class="w-16  text-center rounded-md border p-2">
      <span class=" whitespace-nowrap">{{ tilt() }} &deg;</span>
    </div>
    <!-- Gain slider -->
    <div class="w-2/12 flex flex-col">
      <mat-slider discrete class="w-full" [max]="Constants.MAX_GAIN" [min]="Constants.MIN_GAIN">
        <input matSliderThumb formControlName="tlt_gain">
      </mat-slider>
    </div>

    <!-- Range selector -->
    <div class="w-4/12 flex flex-col">
      <tri-slider discrete [min]="Constants.MIN_PWM" [max]="Constants.MAX_PWM" class="w-full">
        <input formControlName="tlt_min" triSliderStartThumb>
        <input formControlName="tlt_cnt" triSliderMidThumb>
        <input formControlName="tlt_max" triSliderEndThumb>
      </tri-slider>
    </div>
    <div class="w-16 text-center -ml-8 ">
      <button mat-mini-fab [matMenuTriggerFor]="tlt_menu">
        <mat-icon>settings_input_composite</mat-icon>
      </button>
      <mat-menu #tlt_menu="matMenu">
        <button mat-menu-item (click)="defaultValues('tilt')">Default values</button>
        <button mat-menu-item (click)="maxValues('tilt')">Max values</button>
        <button mat-menu-item (click)="reCenter('tilt')">Re-Center</button>
      </mat-menu>
    </div>


    <!-- Channel selector -->
    <mat-form-field class="w-32 px-4" appearance="outline">
      <mat-select formControlName="tltch">
        <mat-option [value]="-1">Off</mat-option>
        <mat-option *ngFor="let item of [].constructor(16); let i = index" [value]="i+1">Ch{{ i + 1 }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Reverse checkbox -->
    <div class="w-16 text-center">
      <mat-checkbox formControlName="tlt_reverse"></mat-checkbox>
    </div>
  </div>
  <!--  ROLL -->
  <div class="flex flex-row items-center gap-6">
    <div class="w-8 text-right">Roll</div>
    <!-- IMU value -->
    <div class="w-16  text-center rounded-md border p-2">
      <span class=" whitespace-nowrap">{{ roll() }} &deg;</span>
    </div>
    <!-- Gain slider -->
    <div class="w-2/12 flex flex-col">
      <mat-slider discrete class="w-full" [max]="Constants.MAX_GAIN" [min]="Constants.MIN_GAIN">
        <input matSliderThumb formControlName="rll_gain">
      </mat-slider>
    </div>

    <!-- Range selector -->
    <div class="w-4/12 flex flex-col">
      <tri-slider discrete [min]="Constants.MIN_PWM" [max]="Constants.MAX_PWM" class="w-full">
        <input formControlName="rll_min" triSliderStartThumb>
        <input formControlName="rll_cnt" triSliderMidThumb>
        <input formControlName="rll_max" triSliderEndThumb>
      </tri-slider>
    </div>
    <div class="w-16 text-center -ml-8 ">
      <button mat-mini-fab [matMenuTriggerFor]="rll_menu">
        <mat-icon>settings_input_composite</mat-icon>
      </button>
      <mat-menu #rll_menu="matMenu">
        <button mat-menu-item (click)="defaultValues('roll')">Default values</button>
        <button mat-menu-item (click)="maxValues('roll')">Max values</button>
        <button mat-menu-item (click)="reCenter('roll')">Re-Center</button>
      </mat-menu>
    </div>

    <!-- Channel selector -->
    <mat-form-field class="w-32 px-4" appearance="outline">
      <mat-select formControlName="rllch">
        <mat-option [value]="-1">Off</mat-option>
        <mat-option *ngFor="let item of [].constructor(16); let i = index" [value]="i+1">Ch{{ i + 1 }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Reverse checkbox -->
    <div class="w-16 text-center">
      <mat-checkbox formControlName="rll_reverse"></mat-checkbox>
    </div>
  </div>
  <!--  PAN -->
  <div class="flex flex-row items-center gap-6">
    <div class="w-8 text-right">Pan</div>
    <!-- IMU value -->
    <div class="w-16 text-center rounded-md border p-2">
      <span class="whitespace-nowrap">{{ pan() }} &deg;</span>
    </div>
    <!-- Gain slider -->
    <div class="w-2/12 flex flex-col">
      <mat-slider discrete class="w-full" [max]="Constants.MAX_GAIN" [min]="Constants.MIN_GAIN">
        <input matSliderThumb formControlName="pan_gain">
      </mat-slider>
    </div>
    <!-- Range selector -->
    <div class="w-4/12 flex flex-col">
      <tri-slider discrete [min]="Constants.MIN_PWM" [max]="Constants.MAX_PWM" class="w-full">
        <input formControlName="pan_min" triSliderStartThumb>
        <input formControlName="pan_cnt" triSliderMidThumb>
        <input formControlName="pan_max" triSliderEndThumb>
      </tri-slider>
    </div>
    <div class="w-16 text-center -ml-8 ">
      <button mat-mini-fab [matMenuTriggerFor]="pan_menu">
        <mat-icon>settings_input_composite</mat-icon>
      </button>
      <mat-menu #pan_menu="matMenu">
        <button mat-menu-item (click)="defaultValues('pan')">Default values</button>
        <button mat-menu-item (click)="maxValues('pan')">Max values</button>
        <button mat-menu-item (click)="reCenter('pan')">Re-Center</button>
      </mat-menu>
    </div>

    <!-- Channel selector -->
    <mat-form-field class="w-32 px-4" appearance="outline">
      <mat-select formControlName="panch">
        <mat-option [value]="-1">Off</mat-option>
        <mat-option *ngFor="let item of [].constructor(16); let i = index" [value]="i+1">Ch{{ i + 1 }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Reverse checkbox -->
    <div class="w-16 text-center">
      <mat-checkbox formControlName="pan_reverse"></mat-checkbox>
    </div>
  </div>
</form>
