@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --mat-form-field-container-height: 38px;
  --mat-form-field-container-vertical-padding: 8px;
}


html, body { height: 100%; }
body { margin: 0; font-family: Inter, "Helvetica Neue", sans-serif; }

mat-sidenav-container {
    height:100%;
}

mat-sidenav {
    @apply bg-slate-800 !important;
    @apply rounded-none !important;
    @apply w-72 !important;
}
