@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --mat-form-field-container-height: 38px;
  --mat-form-field-container-vertical-padding: 8px;
  --mdc-slider-inactive-track-color: #5b9a17;
  --mat-toolbar-standard-height: 58px;
  --mat-toolbar-mobile-height: 52px;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mat-mdc-notch-piece.mdc-notched-outline__notch {
  border-right-width: 0px !important;
}


html, body { height: 100%; }
body { margin: 0; font-family: Inter, "Helvetica Neue", sans-serif; }

mat-sidenav-container {
    height:100%;
}

mat-sidenav {
    @apply bg-slate-800 !important;
    @apply rounded-none !important;
    @apply w-72 !important;
}

.ht-navitem {
    @apply hover:bg-slate-700 flex flex-row items-center hover:opacity-100;
    @apply w-full py-2 px-4 border rounded-lg border-slate-500 hover:border-slate-200;
    @apply text-white font-medium text-sm;
}

.ht-navitem.active {
    @apply opacity-100 bg-slate-600;
}

.bg-channel-1 {
    background-color: #f1453d;
}

.bg-channel-2 {
    background-color: #673fb4;
}

.bg-channel-3 {
  background-color: #2b98f0;
}

.bg-channel-4 {
  background-color: #1fbcd2;
}

.bg-channel-5 {
  background-color: #159588;
}

.bg-channel-6 {
  background-color: #50ae55;
}

.bg-channel-7 {
  background-color: #cdda49;
}

.bg-channel-8 {
  background-color: #fdc02f;
}

.bg-channel-9 {
  background-color: #fc5830;
}

.bg-channel-10 {
  background-color: #785549;
}

.bg-channel-11 {
  background-color: #9e9e9e;
}

.bg-channel-12 {
  background-color: #617d8a;
}

.bg-channel-13 {
  background-color: #cf267d;
}

.bg-channel-14 {
  background-color: #7a1464;
}

.bg-channel-15 {
  background-color: #3a7a14;
}

.bg-channel-16 {
  background-color: #14407a;
}
