<div class="shadow rounded-lg bg-white p-2">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0">
    <mat-tab label="General" #generalTab>
      <app-general [active]="generalTab.isActive"/>
    </mat-tab>
    <mat-tab label="PPM" #ppmTab>
      <app-ppm [active]="ppmTab.isActive"/>
    </mat-tab>
    <mat-tab label="UART" #uartTab>
      <app-uart [active]="uartTab.isActive"/>
    </mat-tab>
    <mat-tab label="Bluetooth" #btTab>
      <app-bluetooth [active]="btTab.isActive"/>
    </mat-tab>
    <mat-tab label="PWM" #pwmTab>
      <app-pwm [active]="pwmTab.isActive"/>
    </mat-tab>
    <mat-tab label="Analog+Aux" #analogAuxTab>
      <app-analogaux [active]="analogAuxTab.isActive"/>
    </mat-tab>
  </mat-tab-group>
</div>


<div class="shadow rounded-lg bg-white px-3 py-2 mt-2">
  <div class="truncate text-md font-medium leading-6 tracking-tight mb-4"> IMU Output - Local Board</div>
  <app-imu/>
</div>
<div class="shadow rounded-lg bg-white px-3 py-2 mt-2">
  <div class="truncate text-md font-medium leading-6 tracking-tight"> Graph - Local Board</div>
  <app-output/>
</div>


